*{
    font-family: gilfory-regular;
    p{
        margin-bottom: 0px !important;
    }
    ul{
        margin-bottom: 0px;
    }
    
    h3{
        font-size: 30px;
        font-weight: 600;
        color: #3E4581;
    }
     h1{
        font-size: 80px;
        font-weight: 600;            
        }
    h2{
        font-size: 60px;
        font-weight: bold;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        color: #3E4581;
    }
    p{
        font-size: 20px;
        color:#3E4581 ;
        font-weight: 500;

    }
}
@font-face {
    font-family: gilfory-regular;
    src: url(../../assets/css/fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family:poppins;
    src: url(../../assets/css/FONT-2/Poppins-Font-2/Poppins-Medium.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(../../assets/css/font-inter/Inter-Regular.otf);
}



.universal-col-1{
    padding-left: 0px !important;
}
.universal-col-2{
    padding-right: 0px !important;
}
.universal-box-1{
    background-color: white;
    border-radius: 25px !important;
    padding: 0px 0px 52px 0px;
}
.universal-box-2{
    background-color: white;
    border-radius: 25px !important;
}




body{
    background-color: #FCFCFF;
}
.ban-1{
    background-image: url("../../assets/img/frame.png");
    background-position: center;
    background-repeat: no-repeat;

}
.nav-bar{
    padding: 30px 35px 0px 35px;
}
.brand{
    width: 160px;
}
.logo{
    height: 50px;
}
.logo-txt{
    padding-top: 5px;
    padding-left: 5px;
    p{
        font-size: 20px;
        font-family: inter-regular;
        color: #3E4581;
        font-weight: bold;
    }
}
.nav-bar-item{ 
    padding-right:45px;
            a{
                font-family: poppins;
                font-size: 18px;
                color: #3E4581;
            }
}


    .nav-bar-item a{
        padding: 0px 10px;
        position: relative;
    
    }
    .nav-bar-item a::after{
        content: '';
        height: 3px;
        width: 0px;
        background-color:#cbc4da;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translatex(-50%);
        transition: width 0.3s;
    
    }
    .nav-bar-item a:hover::after{
        width: 60%;
    }

.nav-last-btn{
    width: 160px;
}
.nav-last-btn a{
    font-family: inter-regular;
    font-size: 18px;
    color: #006ddb;
    font-weight: bold;
    transition: 0.3s;
}
.nav-last-btn a{
    position: relative;

}
.nav-last-btn a::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color:#cbc4da;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translatex(-50%);
    transition: width 0.3s;

}
.nav-last-btn a:hover::after{
    width: 80%;
}

.profile-img{
    height: 350px;
        img{
            border-radius: 50%;
            border: 20px solid rgba(255,255,255,1);
        }
}
.profile-section{
        a{
            font-size: 20px;
            font-weight: bold;
            color: #006ddb;
            background-color: rgb(240, 237, 237,0.6);
            padding: 10px 20px;
            border-radius: 25px;
            transition: 0.3s;
        }
        a:hover{
            border: 2px solid #006ddb;
            padding: 12px 20px;
        }
}
.company-item{
    padding-right: 100px;
    font-weight: bold;
    color: #3E4581;
    font-size: 25px;
}
.company-item-img{
    padding-right: 10px;
}
.company-item:last-child{
    padding-right: 0px;
}
.advantages-section{
    margin-top: 100px;
    padding: 0px 100px  ;
}
.boxes{
    padding: 0px 200px;
        .box-content{
            background-color: white;
            padding: 36px 34px 19px 35px;
            border-radius: 25px !important;
        }
            .box-content-img{
                height: 50px;
                background-color: #ECEEFF;
                border-radius: 50%;
                width: fit-content;
                padding: 10px;
                margin-bottom: 30px;
            }
                h3{
                    padding-bottom: 10px;
                }
}

.animation-row{
    background-image: linear-gradient(120deg,#eb4f56,#9d66e9);
    border-radius: 25px;
}
.animation-box{
    padding: 100px 150px;
            h3{
                padding-bottom: 10px;
            }
}

.benefits-img{
    height: 300px;
}
.benefits-img-1{
    height:400px;
}

.responsive-box{
    background-color: white;
    border-radius: 25px !important;
        .responsive-img{
            height: 400px;
        }
}
.full-code{    
        .code-color{
            color: red;
            font-size: 30px;
            font-weight: bold;
        }
            .code-txt{
                font-size: 30px ;
                color: black;
                font-weight: bold;
            }
}
.duration-box{
    padding: 0px 0px 66px 0px;
}

.project-row-heading{
    padding-top: 100px;
}

.project-content{
    img{
        border-radius: 25px;
        border: 2px solid rgb(236, 235, 235);
    }
}

.scrollbar-process-items{
    padding: 0px 200px;
}
.scrollbar-process-item{
    background-color: rgba(255,255,255,1);
    border-radius: 25px !important;
    padding: 0px 50px;
}

.review-card{
    background-color: white;
    padding: 0px 20px;
    border-radius: 25px !important;
}

.accordion-item{
    border-radius: 25px !important;
    overflow: hidden;
}

.request-row{
    margin-top: 200px ;
}


.hr{
    margin-top: 150px;
}
.circle{
    border: 2px solid red;
    height: 20px ;
    width: 20px;
    position: absolute;
    z-index: -1;
}



.circle{
    animation: globe 15s linear infinite;
    }
    @keyframes globe {
        0%{
            top: 0px;
            right: 0px;
            border-radius: 0;
            transform: rotate(0);
            border:2px solid red;
        }
        25%{
            top: 800px;
            right: 375px;
            border-radius: 50%;
            transform: rotate(720deg);
            border:2px solid green;
        }
        50%{
            top: 0px;
            right: 750px;
            border-radius: 0%;
            transform: rotate(0deg);
            border:2px solid yellow;
        }
        75%{
            top: 800px;
            right: 1125px;
            border-radius: 50%;
            transform: rotate(720deg);
            border:2px solid blue;
        }
      
        100%{
            top: 0px;
            right: 1500px;
            border-radius: 0%;
            transform: rotate(0deg);
            border:2px solid pink;
        }
    }

    .circles{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    @keyframes animate{
        0%{
            opacity: 1;
            border-radius: 0;
            transform: translateY(0) rotate(0deg);
        }
        100%{
            opacity: 1;
            border-radius: 50%;
            transform: translateY(-1000px) rotate(720deg);
        }
    }
.circles div{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(240, 237, 237);
    bottom: -150px;
    animation: animate 25s linear infinite;
}
.circles div:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles div:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles div:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles div:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles div:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles div:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles div:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles div:nth-child(8) {
    left: 59%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles div:nth-child(9) {
    left: 59%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles div:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}




.toggle-button {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 25px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  


    @media only screen and (max-width: 400px) {
        * h3 {
            font-size: 25px;
            font-weight: 600;
            color: #3E4581;
        }
        * h1 {
            font-size: 50px;
            font-weight: 600;
        }
        
        .nav-bar {
            padding: 15px 0px 0px 0px;
        }
        .nav-bar-item:last-child{
            display: block !important;
        }
        .nav-last-btn a{
            display: none;
        }
        .profile-img {
            height: 250px;
        }
        .profile-section a {
            font-size: 15px;
            font-weight: bold;
            color: #006ddb;
            background-color: rgba(240, 237, 237, 0.6);
            padding: 10px 20px;
            border-radius: 25px;
            transition: 0.3s;
        }
        .company-item {
            padding-right: 15px;
            font-weight: bold;
            color: #3E4581;
            font-size: 10px;
        }
        .company-item-img{
            width: 40px;
            padding-right: 0px;
        }
        .advantages-section {
            margin-top: 49px;
            padding: 0px 22px;
        }
        .boxes {
            padding: 0px 0px;
        }
        .top-3-benefits-box{
            margin-top: 1.5rem !important;
            margin-bottom: 0px !important;
        }
        .top-3-benefits-box-1{
            margin-top: 1.5rem !important;
        }
        .animation-row{
         margin-right: 0px !important;   
         margin-left: 0px !important;
        }
        .animation-box {
            padding: 50px 20px;
        }
        .universal-col-1 {
            padding-left: calc(var(--bs-gutter-x) * .5) !important;
        }
        .universal-col-2 {
            padding-right: calc(var(--bs-gutter-x) * .5) !important;
        }
        .responsive-row{
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
        .scrollbar-process-items {
            padding: 0px 0px;
        }
        .request-row {
            margin-top: 50px;
        }
    
        .hr {
            margin-top: 50px;
        }
        .footer{
            display: block !important;
            text-align: center;
            margin-bottom: 10px;
        }





        .toggle-button {
            display: flex;
          }
          .nav-bar-items {
            display: none;
            width: 100%;
          }
          nav {
            display: block !important;
          }
          .nav-bar-items ul {
            width: 100%;
            flex-direction: column;
          }
          .nav-bar-items li {
            text-align: center;
            padding: 10px 0px;
          }
          .nav-bar-item-btn {
            margin-top: 20px;
            margin-right: 15px;
          }
          .nav-bar-2-col ul .nav-bar-item a:hover {
            background-color: transparent;
            padding: 0px !important;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          .nav-bar-items.active {
            display: inline;
          }
        




          

.circle{
    animation: globe 15s linear infinite;
    }
    @keyframes globe {
        0%{
            top: 0px;
            right: 0px;
            border-radius: 0;
            transform: rotate(0);
            border:2px solid red;
        }
        25%{
            top: 600px;
            right: 100px;
            border-radius: 50%;
            transform: rotate(720deg);
            border:2px solid green;
        }
        50%{
            top: 0px;
            right: 200px;
            border-radius: 0%;
            transform: rotate(0deg);
            border:2px solid yellow;
        }
        75%{
            top: 600px;
            right: 300px;
            border-radius: 50%;
            transform: rotate(720deg);
            border:2px solid blue;
        }
      
        100%{
            top: 0px;
            right: 400px;
            border-radius: 0%;
            transform: rotate(0deg);
            border:2px solid pink;
        }
    }



    .circles div{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: rgb(240, 237, 237);
        bottom: -150px;
        animation: animate 25s linear infinite;
    }




  }